<footer class="h-[var(--footer-height)] border-t-[1px] border-t-gray-6">
	<div class="mx-auto flex max-w-[var(--primary-content-width)] pb-4 pt-4">
		<p class="text-sm text-gray-12">Abhushan Adhikari Joshi.</p>
	</div>
</footer>
