<footer class="border-t-[1px] border-t-gray-6 h-[var(--footer-height)]">
	<div class="flex pt-4 pb-4 max-w-[var(--primary-content-width)] mx-auto">
		<p class="text-gray-11 text-sm">Abhushan Adhikari Joshi.</p>
	</div>
</footer>
